body {
	color: #333;
	font-family: sans-serif;
	font-size: 14px;
	overflow-y: scroll;
}

.left { float: left; }
.right { float: right; }

.button {
	color: #fff !important;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none !important;
	background: #f24949;
	border-radius: 5px;
	/*border-top-left-radius: 0px;*/
	height: 30px;
	padding: 0px 7px;
	display: block;
}

.button:hover { background: #f57a7a; }

.button.green { background: #57b34f; }
.button.green:hover { background: #8ad184; }
.button.blue { background: #499df2; }
.button.blue:hover { background: #79b5f2; }
.button.purple { background: #c484c3; }
.button.purple:hover { background: #e3b1e2; }

.secondary-color {
	color: #f24949;
}

#container {
	width: 900px;
	margin: 0px auto;
}

#header {
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
	width: 900px;
	height: 70px;
	padding: 10px 0px;
}

#header .left > * {
	margin-right: 20px;
	padding: 10px 0px;
	float: left;
}

#header .right li {
	margin: 20px 0px 20px 10px;
	float: right;
}

.huge {
	width: 900px;
	height: 300px;
	margin-top: 15px;
	position: relative;
}

.huge a { position: absolute; top: 135px; right: 120px; }
.huge.about { background: transparent url('../img/about.png'); }
.huge.download { background: transparent url('../img/download.png'); }
.huge.learn { background: transparent url('../img/learn.png'); }

#content { font-size: 16px; line-height: 28px; margin-bottom: 50px; }
#content > *,
#content noscript > * { margin-top: 15px; }

#content h1,
#content h2,
#content h3 {
	font-weight: bold;
	line-height: normal !important; 
}

#content h1 { font-size: 42px; }
#content h2 { font-size: 32px; border-bottom: 1px solid #ddd; padding-bottom: 10px; }
#content h3 { font-size: 24px;  }

#content em { font-style: italic; }
#content strong { font-weight: bold; }

#content code,
#content pre {
	font-family: monospace;
	font-size: 12px;
	border-radius: 3px;
}

#content code {
	background: #eee;
	border: 1px solid #ccc;
	padding: 4px;
	margin: 0px 4px;
}

#content pre {
	line-height: 20px;
	padding: 10px 15px;
	margin: 10px 0px 0px;
	display: block;
}

#content pre code { background: inherit; border: inherit; padding: 0; margin: 0px; }

#content .button { display: inline-block; margin: 0px 4px; }

#content ul { list-style-type: disc; }
#content ol { list-style-type: decimal; }
#content li { margin-left: 25px; }

#content blockquote { border: 1px dashed #ccc; padding: 10px; }
#content blockquote p:before,
#content blockquote p:after {
	content:" \"";
	font-family: sans-serif;
	font-weight: bold;
	font-size: 32px;
}

#content blockquote p:before { content: "\" " !important; }

#content a, #footer a { color: #499df2; text-decoration: underline; }
#content hr { border: none; border-bottom: 1px solid #ddd; margin: 20px 0px; }

#footer {
	line-height: 50px;
	background: #fff;
	border-top: 1px dashed #ccc;
	width: 900px;
	height: 50px;
	padding: 10px 0px;
	margin-top: 20px;
}

#footer .right li { margin: 10px 0px 10px 10px; float: right; }